.job-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-list-wrapper {
  margin: 2%;
  width: 100%;
}


.job-list-filter-wrapper{
  margin: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
